<div ng-controller="transactionCtrl as transactionCtrl">
<div class="page-head">
  <div class="container">
  
	<div class="page-title custom-margin">
        <h1>Transaction 
        <small>List </small>
        </h1>
    </div>
  </div>  
</div>
<ul class="page-breadcrumb breadcrumb"></ul>
  <div class="custom-margin">
    <div class="portlet light">
        <div class="portlet-title" style="margin-bottom: 0px;">
            <div class="caption font-green">
                <i class="fa fa-list-ul font-green"></i>
                <span class="caption-subject bold uppercase">Transaction List</span>
            </div>
            <div class="tools">
            	<button type="button" class="btn btn-sm green" data-toggle="modal" data-target="#myModal">Make transaction</button>

            </div>
        </div>
        <div class="portlet body">
            <div class="mt-element-list">
                <div class="mt-list-container list-news ext-1">
                    <ul>
                        <li class="mt-list-item">
                        <div class="row bold">
                        <div class="col-md-4 col-sm-12"> 
                                 S.No
                         </div>
                            <div class="col-md-4 col-sm-12">
                                 Message
                            </div>
                            <div class="col-md-4 col-sm-12">
                                 Amount       
                            </div>
                        </div>
                        </li>
                    </ul>
                </div> 
            </div>
        </div>
        <div class="portlet body">
            <div class="mt-element-list">
                <div class="mt-list-container list-news ext-1">
                    <ul ng-repeat="transaction in transactionCtrl.transections">
                        <li class="mt-list-item" style="border: 1px solid,border-color: #e7ecf1">
                        <div class="row bold">
                        <div class="col-md-4 col-sm-12"> 
                                {{transaction.id}}
                         </div>
                            <div class="col-md-4 col-sm-12">
                                 {{transaction.msg}}
                            </div>
                            <div class="col-md-4 col-sm-12">
                                 {{transaction.amount}}       
                            </div>
                        </div>
                        </li>
                    </ul>
                </div> 
            </div>
        </div>
        </div>        
        </div>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Transection</h4>
      </div>
      <div class="modal-body">
        <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <label for="select2-single-input-sm" class="control-label caption-subject font-grey-cascade sbold" style="font-size: 20px">Message</label>
                            <input type="text" ng-model="transactionCtrl.transection.msg" required class="form-control"><br>
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <label for="select2-single-input-sm" class="control-label caption-subject font-grey-cascade sbold" style="font-size: 20px">Amount</label>
                            <input type="text" ng-model="transactionCtrl.transection.amount" required class="form-control"><br>
                            <br>
                        </div>
                    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">cancle</button>
        <button type="button" class="btn btn-default" ng-click="transactionCtrl.generateTransection(transactionCtrl.transection)" data-dismiss="modal">submit</button>
      </div>
    </div>

  </div>
</div>
</div>


