// Global settings
$theme-name: 'blue-hoki';
$theme-style: 'square'; 
$theme-type:  'default';

//global
@import 
"metronic/global/components/_reset-rounds",
"metronic/global/_components",
"metronic/global/_plugins";

//layouts
@import

"metronic/layouts/layout3/custom",
"metronic/layouts/layout3/themes/default",
"metronic/layouts/layout3/layout";

//pages

@import

"metronic/pages/login",
"metronic/pages/profile";


//overides

@import
"metronic-overides/overide";


@import
"../bower_components/AngularJS-Toaster/toaster.css"
