<!doctype html>
<html class="no-js" data-ng-app="app">
    <head>
        <base ng-href="{{baseUrl}}">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>my boiler</title>
        <meta name="keywords" content="Angular">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  
        
        <!-- Needs images, font... therefore can not be part of main.css -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all"/>
        <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/bower_components/font-awesome-animation/dist/font-awesome-animation.min.css">
        <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="/bower_components/ionicons/css/ionicons.css">
        
        <link rel="stylesheet" type="text/css" href="/bower_components/toastr/toastr.min.css">
        <!-- end Needs images -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <!-- build:css({.tmp,src}) /styles/custom.css -->
         <link rel="stylesheet" href="/styles/bootstrap.css">
        <link rel="stylesheet" href="/styles/custom.css">
        <!-- endbuild -->
       
    </head>
    <body class="page-on-load"
          id="body"
          data-ng-controller="AppCtrl as appCtrl">
        <!-- BEGIN PAGE SPINNER -->
        <div ng-app-load-spinner class="page-spinner-bar">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
        <!-- END PAGE SPINNER --> 
        <div custom-Page class="page-wrapper">
            <div  class="page-wrapper-row">

                <div  class="page-wrapper-top"  ng-if = !disableHeader>
                    <!-- BEGIN HEADER -->

                    <!-- <div  data-ng-include="'/app/layout/header.html'"  
                    class="page-header"> </div> -->
                    <!-- END HEADER -->
                </div>
            </div>
            <div class="page-wrapper-row full-height">
                <div class="page-wrapper-middle">
                    <!-- BEGIN CONTAINER -->
                    <div class="page-container">
                        <!-- BEGIN PAGE HEAD -->
                       <!--  <div data-ng-include="'tpl/page-head.html'" class="page-head"> </div> -->
                        <!-- END PAGE HEAD -->
                        <!-- BEGIN PAGE CONTENT -->
                        <div class="page-content">
                            <!-- BEGIN ACTUAL CONTENT -->
                            <toaster-container></toaster-container>
                            <div class="container" data-ng-view></div>
                                <!-- END ACTUAL CONTENT -->
                        </div>
                        <!-- END PAGE CONTENT -->
                    </div>
                    <!-- END CONTAINER -->
                </div>
            </div>
            <div class="page-wrapper-row">

                <div class="page-wrapper-bottom" >
                    <!-- BEGIN FOOTER -->
                    <!-- <div data-ng-include="'/app/layout/footer.html'"> </div> -->
                    <!-- END FOOTER -->
                </div>
            </div>             
        </div>     
        
        <!-- build:js /scripts/angular.js -->
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-route/angular-route.min.js"></script>
        <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
        <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="/bower_components/angular-resource/angular-resource.js"></script>
        <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="/bower_components/AngularJS-Toaster/toaster.js"></script>
        <!-- endbuild -->

        <!-- build:js /scripts/lib.js -->
        <script src="/bower_components/highcharts/highcharts.js"></script>
        <script src="/bower_components/firebase/firebase.js"></script>
        <script src="/bower_components/angularfire/dist/angularfire.min.js"></script>
        <!-- endbuild -->

    <!-- build:js({.tmp,src}) /scripts/app.js -->
        <!-- inject:js -->
        <script src="/app/app.module.js"></script>
        <script src="/app/widgets/demo.module.js"></script>
        <script src="/app/config.js"></script>
        <script src="/app/core/app-load-spinner.directive.js"></script>
        <script src="/app/core/app.Controller.js"></script>
        <script src="/app/core/config.rout.js"></script>
        <script src="/app/demo/transaction.controller.js"></script>
        <script src="/app/demo/transaction.service.js"></script>
        <!-- endinject -->

        <!-- endbuild -->

    </body>
</html>